<!DOCTYPE html>
<html>
    <head>
        <title>CMCS335 - Final Project</title>
        <style>

            h1 {
                font-size: 24px;
                font-family: 'Arial', sans-serif;
                text-align: center;
            }

            body {
                background-color: lightblue;
            }

            form {
                margin: auto;
                width: 50%;
                border: 3px solid green;
                padding: 10px;
            }

        </style>
    </head>
    <body>
        <h1>CMCS335 - Stocks</h1>
        <h1>Let's chart some stocks!</h1>
        <div><%- table %></div>
    </body>
</html>